
<div class="btn-group">
    <a class="btn btn-default" href="/new">New</a>
    <a class="btn btn-default" href="/edit/{{selectedId}}" ng-class="{disabled: index < 0}">Edit</a>
    <a class="btn btn-default btn-danger" ng-click="delete(index)" ng-class="{disabled: index < 0}">Delete</a>
</div>

<p>Sorted by: {{sortColumn}}<br/>Sort direction: {{sortReverse ? "descending" : "ascending" }}</p>
<div class="form-group">
    <span class="add-on"><i class="glyphicon glyphicon-search"></i></span>
    <input class="span2" id="inputIcon" type="text" placeholder="Search..." ng-model="search" ng-change="onChangeSearch()">
</div>

<table class="table table-striped table-hover table-bordered">
  <thead>
      <th><a ng-click="sortBy('title')">Title</a></th>
      <th><a ng-click="sortBy('mileage')">Mileage</a></th>
      <th><a ng-click="sortBy('year')">Year</a></th>
      <th><a ng-click="sortBy('price')">Price</a></th>
    <th>Photo</th>
    <th>Actions</th>
  </thead>

  <tr ng-repeat="car in cars" ng-click="select($index)" ng-class="{'info': $index == index}">
      <td>{{car.title}}</td>
    <td>{{car.mileage | mileage}}</td>
    <td>{{car.year}}</td>
    <td>{{car.price | currency}}</td> <!-- currency filter -->
    <td><img style="height: 60px; float: right;" ng-src="{{car.imgData}}"</img></td>
    <td>
        <button ng-click="delete($index)" class="btn btn-default btn-danger">Delete</button>
    </td>
  </tr>
</table>

<div>
  <ul class="pagination center">
      <li ng-repeat="n in [1,pageCount] | range" class="{{(n == offset + 1) ? 'active' : ''}}">
      <a href="#" ng-click="loadPage(n)">{{n}}</a>
    </li>
  </ul>
</div>
